:root {
    --primary-color: #41d983;
    --secondary-color: #41d983;    
    --tertiary-color: #097706;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    color: #fff;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
    border-radius: 10px;
}