<div>
    <button
        class="toggleItemBought"
        (click)="handleToggleBought()"
    >
        @if (!isBought) {
            <img src="../../assets/icons/circle.svg" alt="">
        } @else {
            <img src="../../assets/icons/circle-check.svg" alt="">
        }
    </button>

    <input
        type="text"
        value="{{ itemName }}"
        (blur)="handleUpdateName($event)"
        class="itemNameInput"
        [ngStyle]="{
            'text-decoration': isBought ? 'line-through' : 'none',
            'opacity': isBought ? '0.5' : '1'
        }"
    >
</div>

<div>
    <p
        class="itemStatus"
        [ngStyle]="{ 'background-color': isBought ? '#50A773' : '#9C050B' }"
    >
        @if (isBought) {
            Comprado
        } @else {
            Não comprado
        }
    </p>

    <button
        class="deleteItemBtn"
        (click)="handleDelete()"
    >
        <img src="../../assets/icons/trash.svg" alt="">
    </button>
   
</div>