<div class="container">
    <main>
        <app-add-new-item (newItem)="addNewItem($event)"></app-add-new-item>

        <div class="shopping-list-container">
            @for (item of items; track item.itemName;) {
                <app-shopping-list-item
                    [itemName]="item.itemName"
                    [isBought]="item.isBought"
                    (updateName)="handleUpdateName(item.id, $event)"
                    (toggleBought)="handleToggleBought(item.id, $event)"
                    (deleteItem)="handleDeleteItem(item.id)">
                </app-shopping-list-item>
            }
        </div>
    </main>
</div>

<router-outlet />