header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: max-content;
    padding-top: 40px;
    text-align: center;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

header div img {
    width: 40px;
    height: auto;
}

header div h1 {
    font-size: 32px;
    font-weight: 700;
}

header p {
    /* padding: 6px 0 1rem 0; */
    font-size: 18px;
}

.home-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0px;
}

.home-header div {
    padding-bottom: 0;
}

.home-header p {
    padding-bottom: 1rem;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 500px) {
    header div img {
        width: 32px;
        height: auto;
    }

    header div h1 {
        font-size: 24px;
    }

    header p {
        font-size: 16px;
    }
}