
<header [ngClass]="{'home-header': isHome}"> 
    <div>        
        <h1>Lista de compras</h1>        
    </div>
    <div>       
        <p> 
            Organize suas compras com facilidade.
        </p>
    </div>
    @if(isAuthenticated$ | async){
        <div class="user-info">
            <p>Bem-vindo, <strong>{{ profile?.given_name }}</strong></p>
            <app-button 
                (onClick)="logout()"
                [color]="'secondary'"
                [size]="'lg'"
            >
                Logout
            </app-button> 
        </div>
    }@else {
        @if (tokenExpired){
            <p>Token expirado!</p>
            <app-button
                (onClick)="login()"
                [color]="'secondary'"
                [size]="'lg'"
            >
                Reautenticar
            </app-button>
        }@else {
            <app-button
                (onClick)="login()"
                [color]="'secondary'"
                [size]="'lg'"
            >
                Faça login
            </app-button>
        }
    }
</header>